# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/
*_venv*/

# PyTorch / checkpoints
*.pt
*.pth
*.ckpt
*.onnx

# Logs / TensorBoard
runs/
tensorboard/
events.out.tfevents.*
*.log

# Outputs
save/
outputs/
checkpoints/
wandb/
log/
easy_dcase_task1/dcase/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
